* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Devonshire', cursive;
    font-size: 80px;
    text-align: center;
    letter-spacing: 7px;
}

nav {
    width: 100%;
    margin-left: 50px;
}

nav select {
    color: #fff;
    background-color: #c727c7;
    font-size: 16px;
    margin-top: 10px;
    
}

nav select option {
    color: #fff;
    font-family: 'Cabin', sans-serif;   
    font-size: 16px;
}


main {
    width: 70%;
    margin: auto;
    overflow: auto;
}

figure {
    float: left;
    margin: 10px;
    width: 300px;
    height: 200px;
}

figure img {
    width: 100%; 
}